#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-image: linear-gradient(0deg, white 50%, #F4F4F4 50%);
  img {
    width: 150px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  }
  h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 0px;
    color: rgba(0,0,0,0.7);
  }
  h2 {
    font-size: 17px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
  }
  a {
    color: rgba(0,0,0,0.25);
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 15px;
  }
  .fa-heart {
    color: #D23333;
  }
}

.avatar {
  width: 50px;
  border-radius: 50%;
  transform: rotate(-42deg)
}
.avatar-large {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

// ## AFILIATES SLIDER ##


#logo-bar {
  display: inline-block;
  img{
    max-width: 225px;
    margin-left: auto;
    padding: 50px;
    text-align: center !important;
    align-content: center !important;
    align-items: center;
    justify-content: center;
    @media (max-width:767px){
      max-width: 125px !important;
      padding: 20px !important;
    }
  }
  // #tc{
  //   max-width: 250px !important;
  //   @media (max-width:767px){
  //     max-width: 135px !important;
  //     padding: 20px !important;
  //     margin: auto;
  //   }
// }
  // #app-idea-awards {
  //   max-width: 175px !important;
  //   @media (max-width:767px){
  //     max-width: 80px !important;
  //     padding: 20px !important;
  //     margin: auto;
  //   }
  // }
  #the-paper {
    max-width: 160px !important;
    @media (max-width:767px){
      max-width: 85px !important;
      padding: 20px !important;
      margin: auto;
    }
  }
  #global-times {
    max-width: 160px !important;
    @media (max-width:767px){
      max-width: 125px !important;
      padding: 20px !important;
      margin: auto;
    }
  }


  #thats-china-logo {
    max-width: 200px !important;
    @media (max-width:767px){
      max-width: 90px !important;
      padding: 20px !important;
      margin: auto;
    }
  }
}

.logo-container {
  margin: auto;
  width: 60%; /* relative width */
  /* width: 600px; */ /* Fixed width */
  ul {
    list-style-type: none;
    margin-left: -3%;
    overflow: hidden;

  }

  li {
    width: 25%;
    @media (max-width:767px){
      width: 70% !important;
      padding: 20px;
      margin: auto !important;
      float: none !important;
    }
    @media (max-width:1000px){
      width: 50% !important;
      padding: 25px;
      margin: auto !important;
      float: none !important;
    }
    float: left;
    padding: 4%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }
}
