<section id=portfolio-timeline>
  <h1>GOJI</h1>
  <p class="portfolio-leader">Founder and CEO // CTO</p>

  <div class="skills">

    <h6>
      GOJI is an online ESL marketplace and learning service provider; connecting language students from all over the world to native English-speaking tutors. The mobile platform currently has over 20,000 tutors and students from more than 150 countries.
    </h6>

  </div>

</section>


<section id=portfolio-timeline>
  <div class="skills">
	   <h5>Gallery</h5>
  </div>
</section>

  <!-- <section id=goji-cards>
    <html lang="en">

<head>
  <title>GeekTime Artilce</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>

    <div class="wrapper">
      <div class="product-img">
        <img src="http://bit.ly/2tMBBTd" height="420" width="327">
      </div>
      <div class="product-info">
        <div class="product-text">
          <h1>Uber of ESL</h1>
          <h2>by GeekTime</h2>
          <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
        </div>
        <div class="product-price-btn">
          <button type="button">Read More</button>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="product-img">
        <img src="http://bit.ly/2tMBBTd" height="420" width="327">
      </div>
      <div class="product-info">
        <div class="product-text">
          <h1>Uber of ESL</h1>
          <h2>by GeekTime</h2>
          <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
        </div>
        <div class="product-price-btn">

          <button type="button">Read More</button>
        </div>
      </div>
    </div>

</body>

</html>
  </section> -->




<nav class="footer-slidemenu">

  <!-- Back Button -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="professional.html"><i class="fa fa-arrow-left"></i></a></p><span></span></label>

  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://gojinet.com/" target ="_blank"><i class="fa fa-laptop"></i></a></p><span></span></label> -->


  <div class="clear"></div>

</nav>
