---
title: Tech Portfolio | Lucas Porter-Bakker
---

<section id=portfolio-timeline>
<h1>Portfolio</h1>
<p class="portfolio-leader">Fullstack Web Developer and Software Engineer.</p>
<div class="skills">

<p><strong>Frontend:</strong></p>

<p>JAMstack (JavaScript, APIs, Markup);</p>
<p>SCSS (SASS), HTML, and Bootstrap;</p>
<p>CSS library coding with Flexbox and Grid;</p>
<p>JS (ES6), jQuery, JSON, Parsing, and AJAX;</p>

<br>

<p><strong>Backend:</strong></p>

<p>OOP (Object-Oriented Programming)</p>
<p>Software engineering with MVC;</p>
<p>Relational Database Design & queries with SQL and Postgresql;</p>
<p>Ruby;</p>

<br>

<p><strong>Development:</strong>:</p>

<p>TDD (Test Driven Development);</p>
<p>WeChat framework (mini-apps) using WXML;</p>
<p>Rails;</p>

<br>

<p><strong>Collaboration, Management, and Deployment:</strong></p>

<p>Trello, SCRUM, Agile, Slack, Zapier;</p>
<p>Heroku, Middleman, Stripe, Netlify, MailChimp, WeChat, analytics, and Twilio;</p>
<p>Git and Github;</p>

<br>

<p><strong>Design:</strong>:</p>

<p>Adobe Creative Cloud(Illustrator, PS, InDesign);</p>
<p>Graphic;</p>

<br>

<p><strong>UI / UX:</strong></p>

<p>Wireframes, mockups, and prototypes;</p>
<p>InVision;</p>
<p>Figma, Sketch, and Principle;</p>


</div>
</section>
<div class="footer-navigation">
  <a href="professional.html"><i class="fa fa-briefcase"></i></a>
  <a href="education.html"><i class="fa fa-graduation-cap"></i></a>
  <a href="portfolio.html"><i class="fa fa-folder-open"></i></a>
  <a href="contact.html"><i class="fa fa-envelope"></i></a>
</div>
