---
title: Tech Portfolio | Lucas Porter-Bakker
---

<section id=portfolio-timeline>
  <h1>Portfolio</h1>
  <p class="portfolio-leader">Projects ongoing and past:</p>
  <div class="demo-card-wrapper">
    <div class="demo-card demo-card--step1">
      <div class="portfolio-head">
        <div class="portfolio-number-box">
          <span>SignHow</span>
        </div>
        <h2><span class="small"></span>'18</h2>
      </div>
      <div class="portfolio-body">
        <p>LEAD DEVELOPER • WEB APP built on Rails; A crowd-sourced visual dictionary for sign-language: MP4-GIF converter, paywall, upvoting-downvoting, liking, favouriting, admin dashboard, OMNIauth, ActiveRecord, and multiple-term search through join associations.</p>
        <img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525661606/Screen_Shot_2018-05-07_at_10.49.29_AM.png" alt="Graphic">
      </div>
    </div>

    <div class="demo-card demo-card--step2">
      <div class="portfolio-head">
        <div class="portfolio-number-box">
          <span>Wokout</span>
        </div>
        <h2><span class="small"></span>'18</h2>
      </div>
      <div class="portfolio-body">
        <p>PROJECT MANAGER • WEB APP built on Rails; MVP for booking a homecoocked culniary experience, with chefs who love to cook: Making reservations, receiving bookings, multi-search functionality, user dashboard, admin dashboard, posting meals, and updating listings. </p>
        <img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525661607/Screen_Shot_2018-05-07_at_10.49.12_AM.png" alt="Graphic">
      </div>
    </div>

    <div class="demo-card demo-card--step3">
      <div class="portfolio-head">
        <div class="portfolio-number-box">
          <span>Imbible</span>
        </div>
        <h2><span class="small"></span>'18</h2>
      </div>
      <div class="portfolio-body">
        <p>FRONTEND & BACKEND • WEB APP built on Rails; MVP for a cocktail cookbook: Making user accounts, user-account CRUD, search functionality, image gallery uploading, saving recipies, dev-ops, Heroku deployment; using Ruby, ERB, JavaScript, HTML, and SCSS. </p>
        <img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525746958/Screen_Shot_2018-05-08_at_10.35.23_AM.png" alt="Graphic">
      </div>
    </div>

    <div class="demo-card demo-card--step4">
      <div class="portfolio-head">
        <div class="portfolio-number-box">
          <span>GOJI</span>
        </div>
        <h2><span class="small"></span>'16</h2>
      </div>
      <div class="portfolio-body">
        <p>WEB DESIGNER & DEVELOPER • Website; multi-lingual site with separate student and tutor portals: dev-ops, user-interface and user-experience design, mailing, resources portal for tutors and students, blog, featured tutors menu with top-rated accounts, video content. </p>
        <img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525745402/Screen_Shot_2018-05-08_at_10.08.32_AM.png" alt="Graphic">
      </div>
    </div>

  </div>

  <br>

  <h1>Stack</h1>
  <p class="portfolio-leader">Fullstack Web Developer and Software Engineer.</p>
  <div class="skills">

  <h5>Frontend:</h5>

  <h6>JAMstack (JavaScript, APIs, Markup);</h6>
  <h6>SCSS (SASS), HTML, and Bootstrap;</h6>
  <h6>CSS library coding with Flexbox and Grid;</h6>
  <h6>JS (ES6), jQuery, JSON, Parsing, and AJAX;</h6>

  <br>

  <h5>Backend:</h5>

  <h6>OOP (Object Oriented Programming)</h6>
  <h6>Software engineering with MVC;</h6>
  <h6>Relational Database Design & queries with SQL and Postgresql;</h6>
  <h6>Ruby;</h6>

  <br>

  <h5>Development:</h5>

  <h6>TDD (Test Driven Development);</h6>
  <h6>WeChat framework (mini-apps) using WXML;</h6>
  <h6>Rails;</h6>

  <br>

  <h5>Collaboration, Management, and Deployment:</h5>

  <h6>Trello, SCRUM, Agile, Slack, Zapier;</h6>
  <h6>Heroku, Middleman, Stripe, Netlify, MailChimp, WeChat, analytics, and Twilio;</h6>
  <h6>Git and Github;</h6>

  <br>

  <h5>Design:</h5>

  <h6>Adobe Creative Cloud(Illustrator, PS, InDesign);</h6>
  <h6>Graphic;</h6>

  <br>

  <h5>UI / UX:</h5>

  <h6>Wireframes, mockups, and prototypes;</h6>
  <h6>InVision;</h6>
  <h6>Figma, Sketch, and Principle;</h6>

  </div>

</section>


<div class="footer-navigation">
  <a href="professional.html"> <i class="fa fa-briefcase"> </i> | </a>
  <a href="education.html"> <i class="fa fa-graduation-cap"> </i> | </a>
  <a href="portfolio.html"> <i class="fa fa-folder-open"> </i> | </a>
  <a href="contact.html"> <i class="fa fa-envelope"> </i> | </a>
	<a href="index.html"><i class="fa fa-home"> </i> </a>
</div>
