---
title: Tech Portfolio | Lucas Porter-Bakker
---

<section id=portfolio-timeline>
<h1>Stack</h1>
<p class="portfolio-leader">Fullstack Web Developer and Software Engineer.</p>
<div class="skills">

<p><strong>Frontend:</strong></p>

<p>JAMstack (JavaScript, APIs, Markup);</p>
<p>SCSS (SASS), HTML, and Bootstrap;</p>
<p>CSS library coding with Flexbox and Grid;</p>
<p>JS (ES6), jQuery, JSON, Parsing, and AJAX;</p>

<br>

<p><strong>Backend:</strong></p>

<p>OOP (Object-Oriented Programming)</p>
<p>Software engineering with MVC;</p>
<p>Relational Database Design & queries with SQL and Postgresql;</p>
<p>Ruby;</p>

<br>

<p><strong>Development:</strong>:</p>

<p>TDD (Test Driven Development);</p>
<p>WeChat framework (mini-apps) using WXML;</p>
<p>Rails;</p>

<br>

<p><strong>Collaboration, Management, and Deployment:</strong></p>

<p>Trello, SCRUM, Agile, Slack, Zapier;</p>
<p>Heroku, Middleman, Stripe, Netlify, MailChimp, WeChat, analytics, and Twilio;</p>
<p>Git and Github;</p>

<br>

<p><strong>Design:</strong>:</p>

<p>Adobe Creative Cloud(Illustrator, PS, InDesign);</p>
<p>Graphic;</p>

<br>

<p><strong>UI / UX:</strong></p>

<p>Wireframes, mockups, and prototypes;</p>
<p>InVision;</p>
<p>Figma, Sketch, and Principle;</p>

</div>
<br>
<br>
<h1>Portfolio</h1>
<p class="portfolio-leader">Projects ongoing and past:</p>
  <div class="portfolio-demo-card-wrapper">
    <div class="portfolio-demo-card demo-card--step1">
      <div class="portfolio-head">
        <div class="portfolio-number-box">
          <span>SignHow</span>
        </div>
        <h2><span class="small"></span>18</h2>
      </div>
      <div class="portfolio-body">
        <p>LEAD DEVELOPER • RAILS WEB APP; A crowd-sourced visual dictionary for sign-language: GIF converter, paywall, upvoting-downvoting, liking, favouriting, admin dashboard, OMNIauth, ActiveRecord, and multiple-term search through join associations.</p>
        <img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525661606/Screen_Shot_2018-05-07_at_10.49.29_AM.png" alt="Graphic">
      </div>
    </div>

    <div class="portfolio-demo-card demo-card--step2">
      <div class="portfolio-head">
        <div class="portfolio-number-box">
          <span>Wokout</span>
        </div>
        <h2><span class="small"></span>'18</h2>
      </div>
      <div class="portfolio-body">
        <p>LEAD DEVELOPER • RAILS WEB APP; MVP for booking a homecoocked culniary experience, with chefs who love to cook: Making reservations, receiving bookings, multi-search functionality, user dashboard, admin dashboard, posting meals, and updating listings. </p>
        <img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525661607/Screen_Shot_2018-05-07_at_10.49.12_AM.png" alt="Graphic">
      </div>
    </div>

  </div>

</section>


<div class="footer-navigation">
  <a href="professional.html"><i class="fa fa-briefcase"></i></a>
  <a href="education.html"><i class="fa fa-graduation-cap"></i></a>
  <a href="portfolio.html"><i class="fa fa-folder-open"></i></a>
  <a href="contact.html"><i class="fa fa-envelope"></i></a>
</div>
