---
title: CV | Lucas Porter-Bakker
---

<section id=timeline>
	<h1>Professional Experience</h1>
	<p class="leader">3x founder and entrepreneur.</p>
	<div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>GOJI</span>
				</div>
				<h2><span class="small"></span>'16-'18</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525540012/Screen_Shot_2018-05-06_at_1.03.05_AM.png" alt="Graphic">
				<p>FOUNDER and CEO // CTO • GOJI connects ESL students all over the world to native English-speaking tutors. The online EdTech platform currenlty has more than 20,000 students and tutors on iOS and Android from over 150 countries.</p>
			</div>
		</div>

		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>Westgroup | 西思路</span>
					<br>
				</div>
				<h2><span class="small"></span>'14-'18</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525540014/Screen_Shot_2018-05-06_at_1.05.52_AM.png" alt="Graphic">
				<p>FOUNDER and CEO • Westgroup is the foremost Canadian education company in Zhejiang Province - having taught thousands of students - and has since expanded operations into marketing, and technology; with numerous high-profile clients.</p>
			</div>
		</div>

		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span>Ideagate Investments</span>
				</div>
				<h2><span class="small"></span>'13-'18</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525540012/Screen_Shot_2018-05-06_at_1.00.41_AM.png" alt="Graphic">
				<p>CHAIRMAN and BOARD MEMBER • Ideagate is an investment firm based in Hong Kong. As the company's director since 2013, I oversaw the establishment and development of Ideagate's subsidiary network in Mainland China.</p>
			</div>
		</div>

		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<span>Award-winning Photographer</span>
				</div>
				<h2><span class="small"></span></h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525541663/Screen_Shot_2018-05-06_at_1.33.35_AM.png" alt="Graphic">
				<p>PHOTOGRAPHER • Freelance projects in over 50 countries since 2007; regions include: North Africa, The Balkans, Asia-Pacific, Southern Asia, South-Eastern Asia, North America, Eastern & Western Europe, and Latin America</p>
			</div>
		</div>

		<div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<span>SignHow</span>
				</div>
				<h2><span class="small"></span>'18</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525589492/Screen_Shot_2018-05-06_at_2.51.00_PM.png" alt="Graphic">
				<p>LEAD DEVELOPER • SignHow is the first global sign language dictionary created by the community for the community. 300+ global sign languages, the platform was built to empower deaf commuties around the world with access to free education.</p>
			</div>
		</div>

		<div class="demo-card demo-card--step6">
			<div class="head">
				<div class="number-box">
					<span>I.A.T.S.E.</span>
				</div>
				<h2><span class="small"></span>'12-'18</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525586734/Screen_Shot_2018-05-06_at_2.05.07_PM.png" alt="Graphic">
				<p>UNION MEMBER • Established in 1893, the North American Film Union, I.A.T.S.E., has evolved to embrace the development of technological innovation and geographic growth, and currently represents 120,000+ employees in North America.</p>
			</div>
		</div>

		<div class="demo-card demo-card--step7">
			<div class="head">
				<div class="number-box">
					<span>Communidad de Madrid</span>
				</div>
				<h2><span class="small"></span>'12</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525587298/COMMUNIDAD_DE_MADRID.png" alt="Graphic">
				<p>INTERN • Governmental internship with the Spanish government, designing curriculum for use by the education department of Madrid; followed-up by a school placement, teaching science, physical education, and foreign languages.</p>
			</div>
		</div>

		<div class="demo-card demo-card--step8">
			<div class="head">
				<div class="number-box">
					<span>JECIE</span>
				</div>
				<h2><span class="small"></span>'07-'08</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525587298/JESIE.png" alt="Graphic">
				<p>PROJECT DEVELOPER AND CURRICULUM DESIGNER • The Jiangsu Department of Education and International Centre for exchange is non-profit organization, developing education projects for schools in rural China.</p>
			</div>
		</div>

	</div>
</section>
<div class="footer-navigation">
  <a href="professional.html"> <i class="fa fa-briefcase"> </i> </a>
  <a href="education.html"> <i class="fa fa-graduation-cap"> </i> </a>
  <a href="portfolio.html"> <i class="fa fa-folder-open"> </i> </a>
  <a href="contact.html"> <i class="fa fa-envelope"> </i> </a>
</div>
